.form-container {
    max-width: 360px;
    margin: auto auto;
    margin-top: 10%;
    padding: 40px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.form-wrapper{
    padding: auto auto;
    min-height: calc(100vh - 60px);
    width: 100%;
    background-image: url('../images/form-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    position: relative;
    font-weight: 300;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

.submit-button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.submit-button:hover,
.submit-button:focus {
    background-color: #0056b3;
}